<html>

<head>
</head>
<body>
<div><a href="../../../">Home</a> - <a href="../">{{.Application.Name}}</a></div>
<h1>{{.Application.Name}}</h1>
<h2>{{.Endpoint.Name}}</h2>
{{ if .Endpoint.Dynamic}}
<div>Current Dynamic Feeds:
<ul>
  {{range .Endpoint.CurrentURLs}}
  <li>
    <div><a href="{{.}}">{{.}}</a></div>
    <div>View <a href="./performance?date=today&feed={{.}}">Performance Log</a></div>
    <div>Status: Unknown</div>
  </li>
  {{end}}
</ul>
{{else}}
<div>Feed: <a href="{{.Endpoint.URL}}">{{.Endpoint.URL}}</a></div>
<div>View <a href="./performance?date=today">Performance Log</a></div>
<div>Status: {{.Endpoint.CurrentStatus}}</div>
<div>Validators:<ul>
{{range .Endpoint.CurrentValidation}}
<li>Name: {{.Name}} Valid: {{.Valid}}
<ul>
{{range .Errors}}<li>{{.}}</li>{{end}}
</ul>
</li>
{{end}}
</ul></div>
</div>

<h3>Recent Results<h3>
<div>
<ul>
{{range .RecentResults }}
<li>{{.CheckTime.Format "2006-01-02 15:04:05 MST"}} {{.Duration}} - {{.Size}}b - Body Changed? {{.BodyChanged}} - Valid? {{.Valid}} <a href="./replay?date={{.CheckTime.Format "2006-01-02T15:04:05Z07:00"}}">View Result</a></li>
{{end}}
</ul>
</div>
{{end}}
</body>
</html>