<html>

<head>
</head>
<body>
<div><a href="../../../">Home</a> - <a href="../">{{.Application.Name}}</a></div>
<h1>{{.Application.Name}}</h1>
<h2>{{.Endpoint.Name}}</h2>
{{ if .Endpoint.Dynamic}}
<div>Current Dynamic Feeds:
<ul>
  {{range .Endpoint.CurrentURLs}}
  <li>
    <div><a href="{{.}}">{{.}}</a></div>
    <div>View <a href="./performance?date=today&feed={{.}}">Performance Log</a></div>
    <div>View <a href="./results?date=today&feed={{.}}">View All Results</a>
  </li>
  {{end}}
</ul>
{{else}}
<div>Feed: <a href="{{.Endpoint.URL}}">{{.Endpoint.URL}}</a></div>
<div>View <a href="./performance?date=today">Performance Log</a></div>
<div>Status: {{.Endpoint.CurrentStatus}}</div>
<div>Validators:<ul>
{{range .Endpoint.CurrentValidation}}
<li>Name: {{.Name}} Valid: {{.Valid}}
<ul>
{{range .Errors}}<li>{{.}}</li>{{end}}
</ul>
</li>
{{end}}
</ul></div>
</div>

<h3>Recent Results<h3>
<div>
<ul>
{{range .RecentResults }}
<li>{{.CheckTime.Format "2006-01-02 15:04:05 MST"}} {{Comma (FormatDuration .Duration)}}ms - {{Bytes .Size}} ({{Comma .Size}})B - Body Changed? {{.BodyChanged}} {{ if .BodyChanged }} <a href="./diff?date={{.CheckTime.Format "2006-01-02T15:04:05Z07:00"}}">diff</a> {{end}} - Valid? {{.Valid}} <a href="./replay?date={{.CheckTime.Format "2006-01-02T15:04:05Z07:00"}}">View Result</a></li>
{{end}}
</ul>
<a href="./results?date=today">View All Results</a>
</div>
{{end}}
</body>
</html>