<html>

<head>
</head>
<body>
<div><a href="../../../">Home</a> - <a href="../">{{.Application.Name}}</a></div>
<h1>{{.Application.Name}}</h1>
<h2>{{.Endpoint.Name}}</h2>
<div>Feed: <a href="{{.Endpoint.URL}}">{{.Endpoint.URL}}</a></div>
<div>View <a href="./performance?date=today">Performance Log</a></div>
<div>Status: Unknown</div>
 
</body>
</html>