{{define "title"}}FeedMonitor - {{.Application.Name}} - {{.Endpoint.Name}}{{end}}
{{define "additionalHead"}}{{end}}
{{define "relroot"}}../../../../{{end}}

<!DOCTYPE html>
<html>
{{template "head" .}}
<body class="w3-light-grey">

{{template "navbar" .}}

{{template "sidenav" .}}

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">
    <!-- Header -->
    <header class="w3-container" style="padding-top:22px">
        <h5><b><i class="fa fa-dashboard"></i> {{.Application.Name}} - {{.Endpoint.Name}}</b></h5>
    </header>
    <div class="w3-container">
        <h5><a href="{{.FeedURL}}">{{.FeedURL}}</a></h5>
        <h6>{{.FilterName}}</h6>
        <div><a href="./performance?date=today&feed={{.FeedURL}}">View Performance Log</a></div>
        {{if ne .FilterName "Diffs"}}<div><a href="./resultsdiff?feed={{.FeedURL}}">View Recent Diffs</a></div>{{end}}
        {{if ne .FilterName "Invalid Results"}}<div><a href="./resultsinvalid?feed={{.FeedURL}}">View Recent Validation Failures</a></div>{{end}}
        <div><a href="./results?date=today&feed={{.FeedURL}}">View Results by Day</a></div>
        <div>&nbsp;</div>
        <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
        {{range .Results}}
            <tr>
                <td><a href="result?date={{.CheckTime.Format "2006-01-02T15:04:05Z07:00"}}&feed={{$.FeedURL}}">{{.CheckTime.Format "2006-01-02 15:04:05 MST"}}</a></td>
                <td>{{Comma (FormatDuration .Duration)}}ms</td>
                <td>{{Bytes .Size}} ({{Comma .Size}})B</td>
                {{if .BodyChanged}}
                <td>Body Changed (<a target="_blank" href="./diff?date={{.CheckTime.Format "2006-01-02T15:04:05Z07:00"}}&feed={{$.FeedURL}}">View Diff</a>)</td>
                {{else}}
                <td>No Change</td>
                {{end}}
                {{if .Valid}}
                <td><i class="fa fa-circle" style="color: green"></i> Valid</td>
                {{else}}
                <td><i class="fa fa-circle" style="color: red"></i> Invalid</td>
                {{end}}
                <td><a href="./replay?date={{.CheckTime.Format "2006-01-02T15:04:05Z07:00"}}&feed={{$.FeedURL}}">Replay</a></td>
            </tr>
        {{end}}
        </table>
    </div>
</div>
{{template "footscript" .}}
</body>
</html>