{{define "title"}}FeedMonitor - {{.Application.Name}} - {{.Endpoint.Name}}{{end}}
{{define "additionalHead"}}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart', 'scatter']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
      
      var data = new google.visualization.DataTable();
        data.addColumn('date', 'Date');
        data.addColumn('number', 'Duration');
        data.addColumn('number', 'Size');
      
       data.addRows([
          {{.graphData}}
        ]);

        var options = {
          title: 'Feed Request Duration and Size',
          series: {
            0: {targetAxisIndex: 0},
            1: {targetAxisIndex: 1}
          },
		  vAxes: {
            // Adds titles to each axis.
            0: {title: 'Request Duration (ms)', minValue: '0'},
            1: {title: 'Response Size (bytes)', minValue: '0'}
          },
          hAxis: {
          	title: 'Request Time',
            format: 'M/d/yy HH:mm',
            viewWindow: {
              min: {{.StartDate}},
              max: {{.EndDate}} 
            },
            gridlines: {
              count: -1,
              units: {
                days: {format: ['MMM dd']},
                hours: {format: ['HH:mm', 'ha']},
              }
            },
          },
        };

        var date_formatter = new google.visualization.DateFormat({ pattern: "M/d/yy HH:mm" }); 
        date_formatter.format(data, 0);

        var chart = new google.visualization.ScatterChart(document.getElementById('chart_div'));

        chart.draw(data, options);
      }
    </script>
{{end}}
{{define "relroot"}}../../../{{end}}

<!DOCTYPE html>
<html>
{{template "head" .}}
<body class="w3-light-grey">

{{template "navbar" .}}

{{template "sidenav" .}}

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">
    <!-- Header -->
    <header class="w3-container" style="padding-top:22px">
        <h5><b><i class="fa fa-dashboard"></i> {{.Application.Name}} - {{.Endpoint.Name}}</b></h5>
    </header>
    <div class="w3-container">
        <h5><a href="{{.FeedURL}}">{{.FeedURL}}</a></h5>
        <h6>{{.Date}}</h6>
        <a href="?date={{.PrevDate.Format "2006-01-02"}}&feed={{.FeedURL}}">Previous Day</a> - <a href="?date={{.NextDate.Format "2006-01-02"}}&feed={{.FeedURL}}">Next Day</a>

        <div id="chart_div" style="height: 500px;"></div>  
    </div>
</div>
{{template "footscript" .}}

</body>

</html>