{{define "title"}}FeedMonitor - {{.Application.Name}} - {{.Endpoint.Name}}{{end}}
{{define "additionalHead"}}{{end}}
{{define "relroot"}}../../../../{{end}}

<!DOCTYPE html>
<html>
{{template "head" .}}
<body class="w3-light-grey">

{{template "navbar" .}}

{{template "sidenav" .}}

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">
    <!-- Header -->
    <header class="w3-container" style="padding-top:22px">
        <h5><b><i class="fa fa-dashboard"></i> {{.Application.Name}} - {{.Endpoint.Name}}</b></h5>
    </header>
    <div class="w3-container">
        <h5><a href="{{.FeedURL}}">{{.FeedURL}}</a></h5>
        <h6>{{.Date}}</h6>
        <a href="?date={{.PrevDate.Format "2006-01-02"}}&feed={{.FeedURL}}">Previous Day</a> - <a href="?date={{.NextDate.Format "2006-01-02"}}&feed={{.FeedURL}}">Next Day</a>
        <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
        {{range .Results}}
            <tr>
                <td><a href="result?date={{.CheckTime.Format "2006-01-02T15:04:05Z07:00"}}&feed={{$.FeedURL}}">{{.CheckTime.Format "2006-01-02 15:04:05 MST"}}</a></td>
                <td>{{Comma (FormatDuration .Duration)}}ms</td>
                <td>{{Bytes .Size}} ({{Comma .Size}})B</td>
                {{if .BodyChanged}}
                <td>Body Changed (<a href="./diff?date={{.CheckTime.Format "2006-01-02T15:04:05Z07:00"}}&feed={{$.FeedURL}}">View Diff</a>)</td>
                {{else}}
                <td>No Change</td>
                {{end}}
                {{if .Valid}}
                <td><i class="fa fa-circle" style="color: green"></i> Valid</td>
                {{else}}
                <td><i class="fa fa-circle" style="color: red"></i> Invalid</td>
                {{end}}
                <td><a href="./replay?date={{.CheckTime.Format "2006-01-02T15:04:05Z07:00"}}&feed={{$.FeedURL}}">Replay</a></td>
            </tr>
        {{end}}
        </table>
<ul>
{{ range .Results }}
  {{ if $.Endpoint.Dynamic }}
  <li><a href="result?date={{.CheckTime.Format "2006-01-02T15:04:05Z07:00"}}&feed={{$.Feed}}">{{.CheckTime.Format "2006-01-02 15:04:05 MST"}}</a> {{Comma (FormatDuration .Duration)}}ms - {{.Size}}b - Body Changed? {{.BodyChanged}} {{ if .BodyChanged }} <a href="./diff?date={{.CheckTime.Format "2006-01-02T15:04:05Z07:00"}}&feed={{$.Feed}}">diff</a> {{end}} - Valid? {{.Valid}} <a href="./replay?date={{.CheckTime.Format "2006-01-02T15:04:05Z07:00"}}&feed={{$.Feed}}">Replay</a></li>
  {{ else }}
  <li><a href="result?date={{.CheckTime.Format "2006-01-02T15:04:05Z07:00"}}">{{.CheckTime.Format "2006-01-02 15:04:05 MST"}}</a> {{Comma (FormatDuration .Duration)}}ms - {{Bytes .Size}} ({{Comma .Size}})B - Body Changed? {{.BodyChanged}} {{ if .BodyChanged }} <a href="./diff?date={{.CheckTime.Format "2006-01-02T15:04:05Z07:00"}}">diff</a> {{end}} - Valid? {{.Valid}} <a href="./replay?date={{.CheckTime.Format "2006-01-02T15:04:05Z07:00"}}">Replay</a></li>
  {{ end }}
{{ end }}
</ul>
</div>
</body>
</html>